
@media (max-width: 1060px) {
	html, body {
		min-width: 0;
	}
	.cv-story {
		width: auto;
		padding: 0 15px;
	}
	.cv-story .tag-section.repeater {
		padding-left: 0;
	}
	.tag-section.repeater.work-showcase.frontend {
		padding-left: 30px;
		padding-right: 60px;
	}
}
/* Disable both when converting to PDF */
@media (max-width: 780px) {
	.cv-story .col-4 {
		width: 50%;
	}
}

@media (max-width: 550px) {
	.cv-story .col-4 {
		width: 100%;
	}
}
