footer {
	border-top: 1px solid $rule;
	margin: 0 auto;
	max-width: $container;
	padding: 3rem $gutter 4rem;

	.email {
		font-size: $text-h3;
	}

	.social {
		display: flex;
		gap: 1.25rem;
		font-size: 1.75rem;

		a {
			color: $steel;

			&:hover {
				color: $chalk;
			}
		}
	}
}
